.casts__wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 5rem;
  color: #fff;
}

.casts__wrapper h1 {
  margin-bottom: 1rem;
}
.casts__img {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
}
.casts__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.cast {
  min-width: 135px;
  min-height: 200px;
  margin-right: 1rem;
  background-color: #2a2a2a;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.cast_name {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  text-align: center;
  color: #fff;
  background: rgb(0 0 0 / 82%);
}
.casts__img::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 767px) {
  .casts__wrapper {
    margin: 0 1rem;
    padding-top: 2rem;
  }
  .casts__wrapper h1 {
    font-size: 20px;
  }
}
