.navbar {
  position: fixed;
  top: 0;
  padding: 20px;
  width: 100%;
  height: 30px;
  z-index: 100;
  transition: all 0.5s ease-in;
}

.navbar__black {
  background-color: #111;
}

.navbar__content {
  display: flex;
  justify-content: space-between;
}

.navbar__logo {
  position: fixed;
  top: 10px;
  left: 0;
  width: 80px;
  object-fit: contain;
  padding-left: 20px;
  cursor: pointer;
}

.navbar__avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  cursor: pointer;
}
