.profileScreen {
  height: 100vh;
  color: #fff;
}

.profileScreen__body {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8%;
}

.profileScreen__body > h1 {
  font-size: 60px;
  font-weight: 600;
  border-bottom: 1px solid #282c2d;
  margin-bottom: 20px;
}

.profileScreen__info {
  display: flex;
}

.profileScreen__info > img {
  height: 100px;
  border-radius: 4px;
}

.profile__details {
  color: #fff;
  margin-left: 25px;
  flex: 1;
}

.profile__details > h2 {
  background-color: gray;
  padding: 15px;
  font-size: 15px;
  padding-left: 20px;
  font-weight: 400;
}

.profile__plan {
  margin-top: 20px;
}

.profile__plan > h3 {
  border-bottom: 1px solid #282c2d;
  padding-bottom: 10px;
}

.profile__signout {
  width: 100%;
  background-color: #e50914;
  color: #fff;
  padding: 10px 20px;
  border: none;
  font-size: 1rem;
  margin-top: 5%;
  cursor: pointer;
}

.profile__signout:hover {
  background-color: #ff0915;
}

@media screen and (max-width: 767px) {
  .profileScreen__body {
    width: auto;
    margin: 0 1rem;
    padding-top: 15%;
  }
  .profileScreen__info {
    flex-direction: column;
  }
  .profileScreen__body > h1 {
    font-size: 1.6rem;
  }

  .profileScreen__info > img {
    width: 100%;
    height: auto;
  }
  .profile__details {
    margin-left: 0px;
    margin-top: 1rem;
  }
}
