.app {
  background-color: #111;
}

.loading_spiner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid rgb(255, 0, 0);
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.movieScreen_wrapper {
  color: #fff;
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
}

.movieScreen {
  height: 1200px;
}
.movieScreen_banner {
  position: relative;
}
.movieScreen_banner img {
  width: 100%;
}

.movieScreen_img {
  /* width: 600px; */
  height: auto;
  flex: 0.3;
}
.movieScreen_content {
  flex: 1;
}
.movieScreen_img img {
  width: 100%;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}

/* movie banner */

.moviebanner {
  height: 448px;
  position: relative;
  object-fit: contain;
  color: #fff;
}

.moviebanner_container {
  max-width: 1140px;
  margin: 0 auto;
}
.moviebanner__wrapper {
  display: flex;
  position: absolute;
  padding: 8rem 0;
  max-width: 1140px;
}

.moviebanner__title {
  font-size: 50px;
  font-weight: 700;
}
.moviebanner_img img {
  width: 250px;
}

.moviebanner__contents {
  flex: 1;
  margin-left: 1rem;
}

.movie__casts {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 5rem;
  color: #fff;
}
.generic__item {
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 0.5rem 1rem;
}
.moviebanner__generic {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1rem 0;
}

.moviebanner_description {
  margin-top: 1rem;
}

.moviebanner__fadeBottom {
  width: 100%;
  z-index: 1;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
@media screen and (max-width: 767px) {
  .moviebanner__wrapper {
    flex-direction: column;
    padding: 6rem 1rem;
  }
  .moviebanner__contents {
    margin-left: 0;
  }
  .moviebanner_img {
    align-self: center;
  }
  .moviebanner__title {
    font-size: 26px;
  }
  .generic__item {
    font-size: 12px;
  }
}
